<a href="/"><h3 class="lead text_center main_header">Express Board</h3></a>
<%if(!user){%>
  <p class="login_error text_center"><span class="fa fa-exclamation-triangle"></span> Please log in to view/write posts</p>
<%}%>
