<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body>
  <% include ./partials/navbar %>
  <% include ./partials/header %>

  <div class="container main">
    <hr class='row'>
    <div class="profile_wrapper">
        <h3 class="text_center lead">Be Active!</h3>

        <p class="text_center lead">This user haven't posted anything!</p>
    </div>

  </div>

</body>
</html>
